<div class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
        <p>&copy; {{ "now"|date("Y") }} Isaias Xavier. Developed for Internship Assignment at Elloro.</p>
    </div>
</div>